body{
    height: 51em;
    width: 100%;
    background: linear-gradient(-10deg, #747171, black);
    background-repeat: no-repeat;
}

.nav{
    display: inline-block;
}

#enter{
    margin-top: 40px;
    border-radius: 20px;
    height: 60px;
    font-size: 24px;
    width: 200px;
    margin-left: 810px;
    background-color: #d9d9d9;
    line-height: 60px;
    color: #8d0606;
}


#quit{
    margin-top: 40px;
    border-radius: 20px;
    height: 60px;
    font-size: 24px;
    width: 200px;
    margin-left: 40px;
    margin-top: 40px;
    background-color: #d9d9d9;
    text-align: center;
    line-height: 60px;
    color: #8d0606;
}

.PVK{
    display: inline-block;
    margin-top: 81px;
    width: 430px;
    height: 80px;
    font-size: 24px;
    margin-left: 110px;
    background-color: #d9d9d9;
    text-align: center;
    line-height: 80px;
    border-radius: 30px;
}

a{
    text-decoration: none;
}

#nav{
    margin-top: 180px;
}
